@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Stephen Moss</h3>

<address>
    14 Forge Close<br />
    Southsea<br />
    <abbr title="Phone">P:</abbr>
    07983 638 716
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:stephenjamesmoss@hotmail.com">stephenjamesmoss@hotmail.com</a><br />
</address>