@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Passport Verification</h1>
    <p class="lead">Passport Verification is a small application to allow the MRZ Line 2 field to be validated.</p>
    <p>@Html.ActionLink("Passport Verification", "Form", "PassportVerification", null, new { @class="btn btn-primary btn-lg"})</p>
</div>

