<div class="jumbotron">
    <h1>Passport Verification API</h1>
    <p class="lead">The Passport Verification API Service is running.</p>
    <p>@Html.ActionLink("Help", "Index", "Help", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

